{
  "presets": ["next/babel"],
  "plugins": ["transform-flow-strip-types", "transform-decorators"],
  "env": {
    "development": {
      "plugins": ["inline-dotenv"]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables"]
    }
  }
}
